{
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/transform-runtime"],
    ["@babel/proposal-class-properties"],
    ["@babel/proposal-object-rest-spread"]
  ]
}
