.cookieTable {
	display: block;
	flex: 1;
	overflow-y: auto;
}
.cookieTableHeaders {
  justify-content: left;
}
.cookieTableRow {
	background: white;
	cursor: text;
	padding: 0;
}
.cookieTableHeaderCell {
	font-size: .7rem;
	font-weight: bold;
  text-align: left;
}
.cookieTableCell {
	font-size: 0.7rem;
  height: auto;
	overflow-x: scroll;
}

.cookieTable::-webkit-scrollbar, .cookieTableCell::-webkit-scrollbar{
  width:0.5px;
  background-color:transparent;
}
.cookieTable::-webkit-scrollbar-thumb, .cookieTableCell::-webkit-scrollbar-thumb{
  width:0.5px;
  background-color:transparent;
  border-radius:10px;
}
.cookieTable::-webkit-scrollbar-thumb:hover, .cookieTableCell::-webkit-scrollbar-thumb:hover{
  width:0.5px;
  background-color:transparent;
}
.cookieTable::-webkit-scrollbar-thumb:active, .cookieTableCell::-webkit-scrollbar-thumb:active{
  width:0.5px;
  background-color:transparent;
  border:1px solid transparent;
}