@import 'colors';
@import 'darkMode';
@import 'infinite';
@import 'base';
@import 'sidebar';
@import 'workspace';
@import 'webSocketResponse';
@import 'responsepane';
@import 'bulma';
@import '~bulma-switch';
@import '~bulma-checkradio';

.CodeMirror {
  height: 800px;
}

