* {
  box-sizing: border-box;
  font-size: 13px;
}

// BULMA ADJUSTMENTS
.hero {
  height: 2.5rem; // nothing happened when changed
  padding-top: 0.5rem; // makes purple banner change height
}

.hero h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600; // font boldness in banner (composer, workspace responses)
}

input:focus {
  outline: none;
}

.input:focus {
  outline: none;
}

#root {
  height: 100%;
  overflow-y: hidden;
}

#update-modal {
  position: relative;
  width: 100%;
  background-color: $neutral-500;
  color: $neutral-100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem !important;
  opacity: 0.8;
  margin: 0;
  padding: 0;
  top: 0;
}

.modal-button {
  min-width: 20% !important;
  background-color: $neutral-500 !important;
  color: $neutral-300 !important;
}

.modal-button-update {
  min-width: 20% !important;
  background-color: $primary-100 !important;
  color: $neutral-500 !important;
  border-color: $neutral-500;
}

.is-tall {
  height: 100% !important;
}

.is-tall-message {
  height: calc(100% - 2.5rem) !important;
  margin-bottom: 0 !important;
}

body {
  height: 100%;
}

html {
  height: 100% !important;
}

.header_entry-form {
  width: 100%;
}
.header_entry-form input {
  width: 100%;
}

.full-width {
  width: 100%;
}

$switch-focus: 5px solid red;

.add-vertical-scroll {
  overflow-y: auto !important;
}

.gutter {
  background-color: $primary-500;
  background-position: 50%;
}

// cursorStyles not working
.gutter.gutter-horizontal {
  height: 100%;
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}
.gutter.gutter-vertical:hover {
  cursor: row-resize;
}

.no-focus-outline:focus {
  outline: none;
}

