* {
	box-sizing: border-box;
}
html {
	background-color: white;
	overflow: hidden;
}
body {
	align-items: center;
	color: $liteblack;
	display: flex;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	height: 100vh;
	justify-content: center;
	margin: 0;
	width: 100vw;
}
.header_entry-form {
	width: 100%;
}
.header_entry-form input {
	width: 100%;
}
