* {
	box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  height: 100%;
}

html {
	// background-color: #eeeeee;
  overflow: hidden;
  height: 100% !important;
}

.header_entry-form {
	width: 100%;
}
.header_entry-form input {
	width: 100%;
}

.full-width {
	width: 100%;
}