$primary-100: #ffd645;
$primary-200: #f66b61;
$primary-300: #21d4a4;
$primary-400: #50809b; // this is not currently used
$primary-500: #3834a9;

$rest: #6843ff;
$graphql: #de33a6;
$grpc: #6cacc1;
$websockets: #f47d31;
$webrtc: #4285f4;
$openapi: #94c73d;
$webhook: rgb(185, 52, 52);
$webhookOn: #037448;

$neutral-100: #5e5e5e;
$neutral-200: #f4f5f7;
$neutral-300: #e1e1e1;
$neutral-400: #737581;
$neutral-500: #4a4b53;
$neutral-600: #000000;

// BULMA COLORS
$primary: $primary-500;
$success: $primary-300;
$danger: $primary-200;
$text: $neutral-400;
// $link: $blue
// $info: $cyan
// $success: $green
// $warning: $yellow
// $dark: $grey-darker

// CODE MIRROR COLORS
.cm-s-neo .cm-comment {
  color: $neutral-400 !important;
}
.cm-s-neo .cm-keyword,
.cm-s-neo .cm-property {
  color: #a626a4 !important;
}
.cm-s-neo .cm-atom,
.cm-s-neo .cm-number {
  color: $primary-200 !important;
}
.cm-s-neo .cm-node,
.cm-s-neo .cm-tag {
  color: #a57b25 !important;
}
.cm-s-neo .cm-string {
  color: $primary-500 !important;
}
.cm-s-neo .cm-variable,
.cm-s-neo .cm-qualifier {
  color: #06a568 !important;
}

.is-primary-100 {
  color: $neutral-500 !important;
  background-color: $primary-100 !important;
}

.is-primary-200 {
  color: $neutral-500;
  background-color: $primary-100;
}

.is-rest {
  color: $neutral-200 !important;
  background-color: $rest !important;
}

.is-rest-invert {
  color: $rest !important;
  background-color: $neutral-200 !important;
}

.is-graphQL {
  color: $neutral-200 !important;
  background-color: $graphql !important;
}

.is-grpc {
  color: $neutral-200 !important;
  background-color: $grpc !important;
}

.is-webrtc {
  color: $neutral-200 !important;
  background-color: $webrtc !important;
}

.is-openapi {
  color: $neutral-200 !important;
  background-color: $openapi !important;
}
.is-webhook {
  color: $neutral-200 !important;
  background-color: $webhook !important;
}

.is-ws {
  color: $neutral-200 !important;
  background-color: $websockets !important;
}

.is-wh{
  color: $neutral-200 !important;
  background-color: $webhook !important;
}

.is-wh-on{
  color: $neutral-200 !important;
  background-color: $webhookOn !important;
}

.is-rest-color {
  color: $rest !important;
}

.is-graphQL-color {
  color: $graphql !important;
}

.is-grpc-color {
  color: $grpc !important;
}

.is-openapi-color {
  color: $openapi !important;
}

.is-ws-color {
  color: $websockets !important;
}
.is-webrtc-color {
  color: $webrtc !important;
}

.is-rest-border {
  border-color: $rest !important;
}

.is-graphQL-border {
  border-color: $graphql !important;
}

.is-openapi-border {
  border-color: $openapi !important;
}

.is-grpc-border {
  border-color: $grpc !important;
}

.is-ws-border {
  border-color: $websockets !important;
}

.is-webrtc-border {
  border-color: $webrtc !important;
}

.is-neutral-300 {
  color: $neutral-600 !important;
  background-color: $neutral-300 !important;
}

.is-neutral-100 {
  color: $neutral-600 !important;
  background-color: $neutral-100 !important;
}

.is-neutral-200-box {
  border: 1px solid black;
  background-color: $neutral-200;
}

.is-success {
  background-color: $primary-300;
  color: $neutral-100;
}

.is-danger {
  background-color: $primary-200;
  color: $neutral-100;
}

.is-border-neutral-300 {
  border: 1px solid $neutral-300;
}

.is-divider-neutral-300 { // this is the divider between the tabs -Prince
  border-left: 1px solid $neutral-300;
  border-right: 1px solid $neutral-300;
}

.is-awesome-icon {
  display: inline-block;
  stroke-width: 0;
  stroke: $neutral-200;
  fill: $neutral-200;
  line-height: 1;
  position: relative;
  top: -0.07em;
  vertical-align: middle;
}

.is-queue-color {
  background: $neutral-200;
  padding-left: 1em;
}
