$primary-100: #FFD645;
$primary-200: #F66B61;
$primary-400: #50809B;
$primary-500: #3734A9;

$rest: #6843FF;
$graphql: #DE33A6;
$grpc: #6CACC1;
$websockets: #F47D31;

$neutral-100: #ffffff;
$neutral-200: #f4f5f7;
$neutral-300: #e1e1e1;
$neutral-400: #737581;
$neutral-500: #4a4b53;
$neutral-600: #000000;

// BULMA COLORS
$primary: $primary-500;
$danger: $primary-200;
$text: $neutral-500;
// $link: $blue
// $info: $cyan
// $success: $green
// $warning: $yellow
// $dark: $grey-darker


// COLOR SCHEMES
.is-primary-100 {
  color: $neutral-500;
  background-color: $primary-100;
}

.is-primary-200 {
  color: $neutral-500;
  background-color: $primary-100;
}

.is-rest {
  color: $neutral-200;
  background-color: $rest;
}

.is-graphQL {
  color: $neutral-200;
  background-color: $graphql;
}

.is-grpc {
  color: $neutral-200;
  background-color: $grpc;
}

.is-ws {
  color: $neutral-200;
  background-color: $websockets;
}

.is-neutral-300 {
  color: $neutral-600;
  background-color: $neutral-300;
}

.is-neutral-200-box {
  border: 1px solid $neutral-300;
  background-color: $neutral-200;
}