$navy: #001e38;
$green: #15b78f;
$litegray: #fafafa;
$medgray: #E6EBEC;
$liteblack: #212121;
$litebluegray: #D4DCEC;
$medbluegray: #ecf1f5;

$teal: #3DADC2;
$lightgray: #dcdcdd;
$mediumgray: #c5c3c6;
$darkgraygreen: #46494c;
$huntergreen: #4c5c68;

$bordergray: #ebeff2;

$highlight: #8FF7A7;
$remove: #ec3748;