.cookieTable {
	display: block;
	flex: 1;
	overflow-y: auto;
}
.cookieTableHeaders {
	justify-content: left;
}
.cookieTableRow {
	background: white;
	cursor: text;
	padding: 0;
}
.cookieTableHeaderCell {
	font-size: .6rem;
	font-weight: bold;
	text-align: left;
}
.cookieTableCell {
	font-size: 0.6rem;
	height: auto;
	overflow-x: scroll;
}
