$neutral-100: #aeaeae;
$neutral-200: #9f9f9f;
$neutral-300: #575757;
$neutral-400: #1f282e;
$neutral-500: #434343;
$neutral-600: #000000;
$text: #00000099;

.is-dark-mode {
  background-color: $neutral-500 !important;
  color: white;
}

.is-dark-500 {
  background-color: $neutral-500 !important;
  color: white;
  //scrollbar-color: grey !important;
}

.is-dark-400 {
  background-color: $neutral-400 !important;
  color: white;
  // sidebar container: 64
  // contents container: 39
  // ResponsePaneContainer: 56
}

.is-dark-300 {
  background-color: $neutral-300 !important;
  color: white;
  outline: 1px solid $neutral-200 !important;
}

.is-dark-200 {
  background-color: $neutral-200 !important;
  color: white;
}

.is-dark-100 {
  background-color: $neutral-100 !important;
  color: white;
}

.dark-protocol-text {
  color: $text !important;
}
.dark-address-input {
  background-color: $neutral-300 !important;
  color: white !important;
}
.dark-divider {
  // this is the divider underneath tabs -Prince
  border-left: 1px solid $neutral-300;
  border-right: 1px solid $neutral-300;
}

