
.primary-title {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 40px;
}

.secondary-title {
    font-size: 1rem;
    font-weight: bold;
    line-height: 30px;
}
    
.tertiary-title {
    font-size: .8rem;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.highlighter {    
    background: $greensix;
    color: white;
    padding: 5px 15px;
    display: inline-block;
    width: auto;
}

.history {
    font-size: .8rem;
}

.historyDate h1 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 700;
.title_offset {
    padding-left: 15px;
}

.title_reverse-offset {
    margin-left: -15px;
    margin-right: 20px;
    border-radius: 3px 0 0 0;
}