@import url('https://fonts.googleapis.com/css?family=Roboto:500');

// .primary-title {

// }

.secondary-title {
    font-size: 1rem;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
}
    
.tertiary-title {
    font-size: .8rem;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    padding: 0;
}