
.title-row {
  padding: 0 15px;
  border-right:1px solid $bordergray;
  position: relative;
  border-left: 1px solid $bordergray;
}

.nested-grid-2 {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%); 
    border-bottom:1px solid $bordergray;
    border-left:1px solid $bordergray;
    border-right:1px solid $bordergray;
    background: white;
    div {
      padding: 0 15px;
      border-right:1px solid $bordergray;
      position: relative;
    }
  }
  

  .nested-grid-3 {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(3, 33.333%); 
    border-bottom:1px solid $bordergray;

    div {
      padding: 0 15px;
      border-right:1px solid $bordergray;
      position: relative;
    }
  }
  
  .nested-grid-4 {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(4, 25%); 
    border-bottom:1px solid $bordergray;
    div {
      padding: 0 15px;
      border-right:1px solid $bordergray;
      position: relative;
    }
  }
  
  .nested-grid-6 {
    width: 100%;
    height: 30px;
    display: grid;
    // grid-template-columns:3% 10% 10% 2% 27% 28% 30%;
    grid-template-columns: 5% 15% 15% 5% 20% 20% 20%; 
    border:1px solid $bordergray;

    div {
      padding: 0 15px;
      border-right:1px solid $bordergray;
      position: relative;

      &:nth-child(-n+2) {
        padding: 0;
      }
  
      &:nth-child(4) {
        padding: 5px 11px;
      }

      &:last-child {
        border-right: none;
      }
    }
  }