.title-row {
	background: white;
	border-left: 1px solid $bordergray;
	border-right: 1px solid $bordergray;
	height: 30px;
	overflow: hidden;
	padding: 0 15px;
	position: relative;
}
.nested-grid-2 {
	background: white;
	border-bottom: 1px solid $bordergray;
	border-left: 1px solid $bordergray;
	border-right: 1px solid $bordergray;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	height: 30px;
	width: 100%;
	div {
		border-right: 1px solid $bordergray;
		padding: 0 15px;
		position: relative;
	}
}
.nested-grid-3 {
	border-bottom: 1px solid $bordergray;
	display: grid;
	grid-template-columns: repeat(3, 33.333%);
	height: 30px;
	width: 100%;
	div {
		border-right: 1px solid $bordergray;
		padding: 0 15px;
		position: relative;
	}
}
.nested-grid-4 {
	border-bottom: 1px solid $bordergray;
	display: grid;
	grid-template-columns: 25% 25% 40% 10%;
	height: 30px;
	width: 100%;
	div {
		border-right: 1px solid $bordergray;
		padding: 0 15px;
		position: relative;
	}
}
.nested-grid-6 {
	background: white;
	border: 1px solid $bordergray;
	border-bottom: 0;
	display: grid;
	grid-template-columns: 10% 12% 12% 6% 20% 40%;
	height: auto;
	width: 100%;
	div {
		border-right: 1px solid $bordergray;
		padding: 0 15px;
		position: relative;
    &:first-child {
      max-height: 30px;
    }
    &:nth-child(-n+2) {
      padding: 0;
    }
    &:nth-child(-n+3) {
      padding: 0;
    }
    &:nth-child(4) {
      max-height: 30px;
      padding: 5px 11px;
    }
    &:last-child {
      border-right: none;
    }
  }
}
.nested-grid-9 {
	background: white;
	border: 1px solid $bordergray;
	border-bottom: 0;
	display: grid;
	grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 12%;
	height: auto;
	width: 100%;
	div {
		border-right: 1px solid $bordergray;
		padding: 10px 15px;
		position: relative;
	}
}