.__json-pretty__ {
  line-height: 1.3;
  color: #66d9ef;
  overflow: auto;
}
.__json-pretty__ .__json-key__ {
  color: #0089d0;
}
.__json-pretty__ .__json-value__ {
  color: #fd971f;
}
.__json-pretty__ .__json-string__ {
  color: #15b78f;
}
.__json-pretty__ .__json-boolean__ {
  color: #e00198;
}
.__json-pretty-error__ {
  line-height: 1.3;
  color: #66d9ef;
  overflow: auto;
}



.__json-pretty__error {
  line-height: 1.3;
  color: red;
  overflow: auto;
}
.__json-pretty__error .__json-key__ {
  color: red;

}
.__json-pretty__error .__json-value__ {
  color: red;

}
.__json-pretty__error .__json-string__ {
  color: red;

}
.__json-pretty__error .__json-boolean__ {
  color: red;
}
.__json-pretty-error__error {
  line-height: 1.3;
  color: red;
  overflow: auto;
}
