.navbar-console {
	display: flex;
	justify-content: center;
  width: 100%;
  background: #4e4e4e;
}

.navbar-console_inner {
  padding: 2px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
	.btn {
		background: transparent;
		border: solid 1px #4e4e4e;
		color: $mediumgray;
		font-size: 14px;
		margin: 4px;
    padding: .5rem;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    font-weight: 425;
	}
}