.navbar-console {
	display: flex;
	justify-content: center;
  width: 100%;
  background: #4e4e4e;
}
.btn {
	background-color: $bluetwo;
	border: none;
	color: white;
	cursor: pointer;
	display: block;
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	margin: 25px auto;
	padding: 0 1.5rem;
  width: auto;
  outline: none;
	&:hover {
		background: transparent;
		color: white!important;
	}
}

.navbar-console_inner {
  padding: 2px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
	.btn {
		background: transparent;
		border: solid 1px #4e4e4e;
		color: $mediumgray;
		font-size: 14px;
		margin: 4px;
		padding: .5rem;
	}
}
