.navbar-console {
	display: flex;
	justify-content: center;
  width: 100%;
  float: center;
  background: #eeeeee;
  border-radius: 15px;
}

.navbar-console_inner {
  padding: 2px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: #eeeeee;
  box-shadow:  6px 6px 28px #b0b0b0, 
             -6px -6px 28px #ffffff;
	.btn {
		background: transparent;
    border: solid 1px #eeeeee;
    border-radius: 3px;
		color: $bluefour;
		margin: 4px;
    padding: .5rem;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    font-weight: 425;
    }
    .btn:hover {
    border-radius: 15px;
    background: #eeeeee;
    box-shadow: inset -12px -12px 24px #b0b0b0, 
    inset 12px 12px 24px #ffffff;
}
}
::placeholder {
  color: $bluefour;
}