
.navbar_title {
    font-size:1.1rem;
    font-weight: bold;
  }
  
  .navbar_radio-label {
    font-size:.9rem;
    font-weight: bold;
  }
  
  
  
  .navbar_modal-console {        
    width: 320px;
    height: 100vh;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: $litegray;
    padding: 15px 25px;
  }
  
  .navbar_resreq-console {
    width:100%;
    height: auto;
    display: block;
    position: relative;
    bottom: 0;
    border: lime solid 1px;
  }
  
  .btn {
    width:270px;
    height: 40px;
    margin: 15px auto;
    display: block;
    border-radius: 2px;
    color: #212121;
    font-weight: bold;
    border: none;
    background-color: #04D4BC;
    color: white;
    cursor: pointer;
  
    &:hover {
      color: #04D4BC;
      border: solid 1px #04D4BC;
      background: transparent;
    }
  }
  
  .btn-sm {
    width:100%;
    height: 30px;
    margin: 0 auto;
    display: block;
    border-radius: 2px;
    color: #212121;
    font-weight: bold;
    border: none;
    background-color: $litebluegray;
    cursor: pointer;
  
    &:hover {
      border: solid 1px $litebluegray;
      background: transparent;
    }
  }
  
  .contents{
    width: calc(100vw - 320px);
    height: 100vh;
    display: block;
    position: absolute;
    left: 320px;
    top: 0;
    background: white;
  }
  
  .modalContents{
    width: 100%;
    font-size: 1.2rem;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    list-style: none;
    padding: 0 0 15px 0;
  }
  
  .modal_http-radios, .modal_select, .modal_url-input, .modal_submit {
    width: 100%;
    height: 30px;
    margin: 5px 0;
    display: block;
    padding: 8px;
  }
  
  .modal_http-radios input {
    
  }