.update_popup {
  z-index: 1000;
  background-color: $darkblack;
  color: white;
  width: 320px;
	padding: 5%;
	position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  line-height: 18px;
  border-radius: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  p {
    font-size: 16px;
    margin: 15px 0;
    &.updateMessage {
      margin-top: -10px;
    }
  }
}
.popup-btn {
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  width: 40%;
  padding: 1px 0;
  cursor: pointer;
  outline: none;
  &.update {
    background: rgb(77, 193, 255);
    border-color: rgb(77, 193, 255);
    align-self: flex-start;
    justify-self: flex-end;
  }
  &.dismiss {
    background: transparent;
    color: white;
    align-self: flex-end;
  }
}
