.collectionModal {
  background-color: #2c3e50;
	border: 2px solid #808080;
	font-weight: bold;
  height: 250px;
	outline: 0 none;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  border-radius: 10px;
  opacity: 1 !important;
  z-index: 12;
  h1 {
    margin: 20px;
    font-size: 26px;
  }
  div {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  input {
    font-size: 18px;
    text-align: center;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    -webkit-appearance: none;
    border: 2px solid $yellowgrey;
    outline: none;
  }
  button {
    width: 40%;
	  border: 2px solid #808080;
  	border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  	font-size: .9rem;
    font-weight: bold;
    padding: 4px 18px;
    margin: 10px;
    outline: none;
  }
  p {
    color: white;
    font-size: 20px;
  }
}
.collectionModalOverlay {
  height: 100vh;
  width: 100vw;
  // padding: 10px;
  border-radius: 10px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 12;
}