.collectionModal {
  background-color: #eeeeee;
  font-weight: bold;
  height: 250px;
  outline: 0 none;
  color: $bluefour;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  border-radius: 15px;
  opacity: 1 !important;
  z-index: 12;

  h1 {
    margin: 20px;
    font-size: 26px;
  }

  div {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  input {
    color: white;
    border: 5px #eeeeee;
    display: block;
    height: 30px;
    outline: 0 none;
    padding: 8px;
    width: 100%;
    font-size: 1rem;
    border-radius: 15px;
    background: $liteblack;
    box-shadow:  -8px -8px 16px #b0b0b0, 
               8px 8px 16px #ffffff;
  }

  button {
    border-radius: 15px;
    background: linear-gradient(315deg, #ffffff, #d6d6d6);
    box-shadow:  -8px -8px 16px #b0b0b0, 
                8px 8px 16px #ffffff;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    height: 30px;
    line-height: 28px;
    outline: 0 none;
    text-align: center;
    width: 100%;
    margin-right: 5px;
    margin-top: 20px;
    box-sizing: border-box;
    &:hover {
      border-radius: 15px;
      background: #eeeeee;
      box-shadow: inset -12px -12px 24px #b0b0b0, 
      inset 12px 12px 24px #ffffff;
  }
  }

  p {
    color: $remove;
    font-size: 20px;
  }
}

.collectionModalOverlay {
  height: 100vh;
  width: 100vw;
  // padding: 10px;
  border-radius: 10px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 12;
}
