#reqResContainer {
  // position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  height: calc(100vh - 205px);
  overflow: scroll;
  background: $medbluegray;
  border-top:solid 1px $bordergray;
}

.resreq_select-radio-label {
  font-size: 0.9rem;
  font-weight: bold;
}

.resreq_select-radio {
  display: inline;
  width: 15px;
  height: 15px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 45%;
  top: 33%;
}

.response_event {
  // margin: 15px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: white;
  height: auto;
  overflow: hidden;
}

.response_sse {    
  display: flex;
  flex-direction: column;
  // height: 30px;
  height: auto;

  overflow: hidden;
  animation: fadeIn 400ms ease-in;
  border: solid 1px $bordergray;
  background: #fff;
}

.response_sse:nth-of-type(odd){
	background:$litegray;
}

.data-inner {
  height: 0;
  transition: height 0.15s ease-out;
}

.expand-btn {
  padding:3px;
  display:block;
  cursor: pointer;
  &:before {
    content: "+";
    font-size:1.5em;
    line-height:0.5em;
    float:left; 
    transition: transform 0.3s ease-in-out;
    height: 14px;
    margin-top: 5px;
   }
}

.expand-btn.expand-active {
  &:before {
    transform:rotate(-225deg);
  }
}

.expanded {
  height: auto!important;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.btn-sm {
  .btn {
    margin: 0;
    width: 100%;
    height: 30px;
    font-size: .7rem;
    font-weight: bold;
    line-height: 1;
    &:hover {
      background: $teal;
      color: $litegray;
      border: none;
    }
  }
}

.resreq_remove{
  background-color: $remove!important;
  color: $litegray!important;
}

.slideInRight {
  animation-name: slideInRight;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(.8);
    
  }
  100% {
    opacity: 1;
    transform: scale(1);
    
  }
}

.resreq_wrap {
  margin: 15px;
  background: white;
}

.resreq_res-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-height: 46vh;
  height: auto;
  overflow: scroll;
  flex-direction: column-reverse;
  position: relative;
  border-bottom: solid 1px $bordergray;
  border-left: solid 1px $bordergray;
  border-right: solid 1px $bordergray;
  // border: 3px solid #15b78f;
  // div {
  //   width: 100%;
  //   position: relative;
  //   &:first-child{
  //     position: absolute;
  //     top: 0;
  //   }
  // }
}


.headers {
  border-top: solid 1px $bordergray;
}

.res_header {
  width: 100%;
  // margin: 10px 0 0;
  // display: flex;
  // flex-direction: column;    
  border-bottom: 1px solid $bordergray;
  border-left: 1px solid $bordergray;
  border-right: 1px solid $bordergray;
}

.resreq_title {
  font-size: 1.1rem;
  font-weight: bold;
  // color: #f3f4fc;
}

.reqResContainer-inner {
  position: relative;
  height: auto;
}

// status-loader:

:root {
  --status-indicator-size: 10px;
  --status-indicator-animation-duration: 2s;

  --status-indicator-color: rgb(216, 226, 233);
  --status-indicator-color-semi: rgba(216, 226, 233, 0.5);
  --status-indicator-color-transparent: rgba(216, 226, 233, 0);

  --status-indicator-color-active: rgb(0, 149, 255);
  --status-indicator-color-active-semi: rgba(0, 149, 255, 0.5);
  --status-indicator-color-active-transparent: rgba(0, 149, 255, 0);

  --status-indicator-color-positive: rgb(75, 210, 143);
  --status-indicator-color-positive-semi: rgba(75, 210, 143, 0.5);
  --status-indicator-color-positive-transparent: rgba(75, 210, 143, 0);

  --status-indicator-color-intermediary: rgb(255, 170, 0);
  --status-indicator-color-intermediary-semi: rgba(255, 170, 0, 0.5);
  --status-indicator-color-intermediary-transparent: rgba(255, 170, 0, 0);

  --status-indicator-color-negative: rgb(255, 77, 77);
  --status-indicator-color-negative-semi: rgba(255, 77, 77, 0.5);
  --status-indicator-color-negative-transparent: rgba(255, 77, 77, 0);
}

@keyframes status-indicator-pulse {
  0% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-semi);
  }
  70% {
    box-shadow: 0 0 0 var(--status-indicator-size)
      var(--status-indicator-color-transparent);
  }
  100% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-transparent);
  }
}

@keyframes status-indicator-pulse-active {
  0% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-active-semi);
  }
  70% {
    box-shadow: 0 0 0 var(--status-indicator-size)
      var(--status-indicator-color-active-transparent);
  }
  100% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-active-transparent);
  }
}

@keyframes status-indicator-pulse-positive {
  0% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-positive-semi);
  }
  70% {
    box-shadow: 0 0 0 var(--status-indicator-size)
      var(--status-indicator-color-positive-transparent);
  }
  100% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-positive-transparent);
  }
}

@keyframes status-indicator-pulse-intermediary {
  0% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-intermediary-semi);
  }
  70% {
    box-shadow: 0 0 0 var(--status-indicator-size)
      var(--status-indicator-color-intermediary-transparent);
  }
  100% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-intermediary-transparent);
  }
}

@keyframes status-indicator-pulse-negative {
  0% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-negative-semi);
  }
  70% {
    box-shadow: 0 0 0 var(--status-indicator-size)
      var(--status-indicator-color-negative-transparent);
  }
  100% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-negative-transparent);
  }
}

status-indicator {
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  width: var(--status-indicator-size);
  height: var(--status-indicator-size);
  background-color: var(--status-indicator-color);
}

status-indicator[pulse] {
  animation-name: status-indicator-pulse;
  animation-duration: var(--status-indicator-animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 0;
  animation-fill-mode: none;
}

status-indicator[active] {
  background-color: var(--status-indicator-color-active);
}

status-indicator[active][pulse] {
  animation-name: status-indicator-pulse-active;
}

status-indicator[positive] {
  background-color: var(--status-indicator-color-positive);
  animation-name: status-indicator-pulse-positive;
}

status-indicator[positive][pulse] {
  animation-name: status-indicator-pulse-positive;
}

status-indicator[intermediary] {
  background-color: var(--status-indicator-color-intermediary);
}

status-indicator[intermediary][pulse] {
  animation-name: status-indicator-pulse-intermediary;
}

status-indicator[negative] {
  background-color: var(--status-indicator-color-negative);
  animation-name: status-indicator-pulse-negative;
}

status-indicator[negative][pulse] {
  animation-name: status-indicator-pulse-negative;
}
