#reqResContainer {
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: #eeeeee;
  border-top: solid 1px #ebeff2;
  background-image: url("../img/swell-bg.png");
  background-position: center center;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  // overflow-x: hidden;
  // overflow-y: scroll;
}

//-------------------------------------------------------------------
//This is a fix for the ugly windows and linux scrollbars
//-------------------------------------------------------------------
#reqResContainer::-webkit-scrollbar {
  width: 0.5px;
  background-color: #eeeeee;
}
#reqResContainer::-webkit-scrollbar-thumb {
  width: 0.5px;
  background-color: #eeeeee;
  border-radius: 10px;
}
#reqResContainer::-webkit-scrollbar-thumb:hover {
  width: 0.5px;
  background-color: #eeeeee;
}
#reqResContainer::-webkit-scrollbar-thumb:active {
  width: 0.5px;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
}
//-------------------------------------------------------------------
#reqResContainer_inner {
  width: auto;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  transition: transform 0.3s ease-in-out;
  padding-bottom: 40px;
}

.resreq_wrap {
  border-radius: 15px;
  width: calc(100vw - 340px);
  margin: 15px;
  flex: 0 0 auto;
  min-width: 800px;
  // padding-right: 15px;
  padding-right: 200px;
}

.reqResContainer_inner-page {
  width: 100%;
  height: 100%;
}

.reqres_select-radio-label {
  font-size: 0.9rem;
  font-weight: bold;
}

.reqres_select-radio {
  width: 15px;
  height: 15px;
  position: relative;
  left: 45%;
  top: 17%;
}

.response_event {
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #eeeeee;
  height: auto;
  overflow: hidden;
}

.response_sse {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  background: #eeeeee;
  animation: fadeIn 400ms ease-in;
}

.response_sse:nth-of-type(odd) {
  background: $litegray;
}

.data-inner {
  height: 0;
  transition: height 0.15s ease-out;
}

.expand-btn {
  padding: 3px;
  display: block;
  cursor: pointer;
  &:before {
    content: "+";
    font-size: 1.5em;
    line-height: 0.5em;
    transition: transform 0.3s ease-in-out;
    height: 14px;
    margin-top: 5px;
    margin: 5px auto;
    width: 11px;
    height: 12px;
    display: -webkit-box;
  }
}

.expand-btn.expand-active {
  &:before {
    transform: rotate(-225deg);
  }
}

.expanded {
  height: auto !important;
  overflow-x: scroll;
  border-bottom: solid 1px $bordergray;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.btn-sm {
  .btn {
    cursor: pointer;
    margin: 0;
    outline: none;
    width: 100%;
    height: 30px;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1;
    background-color: $greenseven;
    border: none;
    color: white;
    &:hover {
      background: $bluetwo;
      color: $litegray;
      border: none;
    }
  }
}

.resreq_remove {
  background-color: $remove !important;
  color: $litegray !important;
  &:hover {
    background-color: #b93f3e !important;
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.resreq_res-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  height: auto;
  overflow: scroll;
  flex-direction: column;
  overflow-wrap: break-word;
  position: relative;
  border-bottom: solid 1px $bordergray;
  border-left: solid 1px $bordergray;
  border-right: solid 1px $bordergray;
}
.resreq_res-container::-webkit-scrollbar {
  width: 0.5px;
  background-color: transparent;
}
.resreq_res-container::-webkit-scrollbar-thumb {
  width: 0.5px;
  background-color: transparent;
}
.resreq_res-container::-webkit-scrollbar-thumb:hover {
  width: 0.5px;
  background-color: transparent;
}
.resreq_res-container::-webkit-scrollbar:active {
  width: 0.5px;
  background-color: transparent;
}

.headers {
  border-top: solid 1px $bordergray;
}

.res_header {
  width: 100%;
  border-left: 1px solid $bordergray;
  border-right: 1px solid $bordergray;
}

.resreq_title {
  font-size: 1.1rem;
  font-weight: bold;
}

.httptwo {
  padding: 10px 15px;
  background-color: #eeeeee;
  color: #15b78f;
  font-weight: 800;
  display: none;
  height: auto;
  font-size: 0.7rem;
  word-wrap: break-word;
  width: 100%;
  overflow: scroll;
}

.networkerror {
  padding: 10px 15px;
  background-color: white;
  color: red;
  font-weight: 800;
  border-top: 1px solid $bordergray;
  border-left: 1px solid $bordergray;
  border-right: 1px solid $bordergray;
  height: auto;
  font-size: 0.8rem;
}

// status-loader:
:root {
  --status-indicator-size: 10px;
  --status-indicator-animation-duration: 2s;

  --status-indicator-color: rgb(216, 226, 233);
  --status-indicator-color-semi: rgba(216, 226, 233, 0.5);
  --status-indicator-color-transparent: rgba(216, 226, 233, 0);

  --status-indicator-color-active: rgb(0, 149, 255);
  --status-indicator-color-active-semi: rgba(0, 149, 255, 0.5);
  --status-indicator-color-active-transparent: rgba(0, 149, 255, 0);

  --status-indicator-color-positive: rgb(75, 210, 143);
  --status-indicator-color-positive-semi: rgba(75, 210, 143, 0.5);
  --status-indicator-color-positive-transparent: rgba(75, 210, 143, 0);

  --status-indicator-color-intermediary: rgb(255, 170, 0);
  --status-indicator-color-intermediary-semi: rgba(255, 170, 0, 0.5);
  --status-indicator-color-intermediary-transparent: rgba(255, 170, 0, 0);

  --status-indicator-color-negative: rgb(255, 77, 77);
  --status-indicator-color-negative-semi: rgba(255, 77, 77, 0.5);
  --status-indicator-color-negative-transparent: rgba(255, 77, 77, 0);
}

status-indicator {
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  width: var(--status-indicator-size);
  height: var(--status-indicator-size);
  background-color: var(--status-indicator-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

status-indicator[pulse] {
  animation-name: status-indicator-pulse;
  animation-duration: var(--status-indicator-animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 0;
  animation-fill-mode: none;
}

status-indicator[active] {
  background-color: var(--status-indicator-color-active);
}

status-indicator[active][pulse] {
  animation-name: status-indicator-pulse-active;
}

status-indicator[positive] {
  background-color: var(--status-indicator-color-positive);
  animation-name: status-indicator-pulse-positive;
}

status-indicator[positive][pulse] {
  animation-name: status-indicator-pulse-positive;
}

status-indicator[intermediary] {
  background-color: var(--status-indicator-color-intermediary);
}

status-indicator[intermediary][pulse] {
  animation-name: status-indicator-pulse-intermediary;
}

status-indicator[negative] {
  background-color: var(--status-indicator-color-negative);
  animation-name: status-indicator-pulse-negative;
}

status-indicator[negative][pulse] {
  animation-name: status-indicator-pulse-negative;
}

@keyframes status-indicator-pulse {
  0% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-semi);
  }
  70% {
    box-shadow: 0 0 0 var(--status-indicator-size)
      var(--status-indicator-color-transparent);
  }
  100% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-transparent);
  }
}

@keyframes status-indicator-pulse-active {
  0% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-active-semi);
  }
  70% {
    box-shadow: 0 0 0 var(--status-indicator-size)
      var(--status-indicator-color-active-transparent);
  }
  100% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-active-transparent);
  }
}

@keyframes status-indicator-pulse-positive {
  0% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-positive-semi);
  }
  70% {
    box-shadow: 0 0 0 var(--status-indicator-size)
      var(--status-indicator-color-positive-transparent);
  }
  100% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-positive-transparent);
  }
}

@keyframes status-indicator-pulse-intermediary {
  0% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-intermediary-semi);
  }
  70% {
    box-shadow: 0 0 0 var(--status-indicator-size)
      var(--status-indicator-color-intermediary-transparent);
  }
  100% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-intermediary-transparent);
  }
}

@keyframes status-indicator-pulse-negative {
  0% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-negative-semi);
  }
  70% {
    box-shadow: 0 0 0 var(--status-indicator-size)
      var(--status-indicator-color-negative-transparent);
  }
  100% {
    box-shadow: 0 0 0 0 var(--status-indicator-color-negative-transparent);
  }
}
