@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Sans+Pro:wght@400;600&display=swap');


// EMPTY STATE
.empty-state-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-state-img {
  max-width: 160px;
}

// EVENTS (CODEMIRROR STYLES)
.CodeMirror {
  font-family: 'Roboto Mono', monospace;
}

.cm-s-responsebody {
  background-color: $neutral-100;
  color: $neutral-400;
  height: 700px !important;
  border: 1px solid $neutral-300;
  font-size: 0.75rem;
}
.cm-s-responsebody .CodeMirror-gutters {
  border: none;
  color: $neutral-300;
}
.cm-s-responsebody .CodeMirror-linenumber {
  border: none;
  color: $neutral-300;

}

// HEADERS & COOKIES

.scrollable-containers {
  overflow-y: scroll;
}

.header-bar {
  height: 2.5em !important;
  min-height: 2.5em !important;
}

table {
    margin-bottom: 2rem;
    max-width: 200px;
    overflow-wrap: break-word;
  }
  
  td {
    min-width: 6rem;
    max-width: 50%;
  }
  

.cookie-container thead:hover {
  cursor: pointer;
  background-color: $primary-100;
  transition: 0.3s;
}

// STATUS BUTTONS
.status-placement {
  position: absolute;
  right: 1rem;
}

.status-tag {
  position: absolute;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  margin: auto;
  border: 0px;
  border-radius: 2px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
} 

.is-edit{
  height:100%;
}

.is-not-3rem-tall {
  height: calc(100% - 3rem);
}