.sidebar_radio-label {
	font-size: .9rem;
	font-weight: bold;
}
.sidebar_modal-console {
	background: #282828;
	color: #FCF7F8;
	display: flex;
	flex-direction: column;
	height: 100vh;
	left: 0;
	overflow: scroll;
	padding: 15px 18px;
	position: absolute;
	top: 0;
	width: 300px;
	&:focus {
		outline: 0 none;
	}
}
.contents {
	background: white;
	display: block;
	height: 100vh;
	left: 300px;
	position: absolute;
	top: 0;
	width: calc(100vw - 300px);
}
.modal_title {
	font-size: 1.1rem;
	font-weight: bold;
}
.modalContents {
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	font-size: 1.2rem;
	list-style: none;
	padding: 0 0 5px 0;
	width: 100%;
}
.modal_submit {
	-webkit-appearance: none;
	background-color: $bluetwo;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: block;
	font-size: .8rem;
	font-weight: bold;
	height: 35px;
	margin: 5px 0 15px;
	padding: 8px;
	width: 100%;
}
.modal_protocol_container {
	display: flex;
	justify-content: space-between;
	margin: 15px 0 15px 0;
}
.modal_protocol_button {
	background-color: #343333;
	border: 2px solid #808080;
	border-radius: 5px;
	cursor: pointer;
	font-size: .8rem;
	font-weight: bold;
	height: 30px;
	line-height: 28px;
	outline: 0 none;
	text-align: center;
	width: 32%;
	&:hover {
		background: rgb(0,137,208);
		border: 2px solid $bluetwo;
		line-height: 28px;
	}
}
.modal_protocol_button-selected {
	background: rgb(0,137,208);
	border: none;
}
.modal_method_url_container {
	align-content: center;
	align-items: center;
	border-radius: 5px;
	display: flex;
	margin: 0 0 15px;
	margin-top: 7px;
	overflow: hidden;
}
.modal_method_select {
	-webkit-appearance: none;
	background: #15B78F;
	border: none;
	border-radius: 0px;
	color: white;
	cursor: pointer;
	display: block;
	font-size: 0.8rem;
	font-weight: bold;
	height: 30px;
	line-height: 15px;
	padding: 0px 8px;
	text-align-last: center;
	width: 70px;
}
.modal_url_input {
	-webkit-appearance: none;
	// border: none;
	background: #343333;
	border: 2px solid $yellowgrey;
	color: white;
	display: block;
	height: 30px;
	outline: 0 none;
	padding: 8px;
	width: 100%;
}
.modal_subtitle {
	cursor: pointer;
	display: flex;
	font-size: 14px;
	justify-items: center;
	margin: 0 0 15px;
	width: 28%;
}
.modal_subtitle_arrow-closed {
	height: 26px;
	margin: -3px -6px -8px -7px;
	transform: rotate(270deg);
}
.modal_subtitle_arrow-open {
	height: 26px;
	margin: -3px -6px -8px -7px;
}
.modal_headers_container-open {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	margin: 0 0 15px;
	overflow: hidden;
}
.modal_headers_container-closed {
	display: none;
	overflow: hidden;
}
.modal_header {
	border: 2px solid $yellowgrey;
	border-radius: 5px;
	margin-bottom: 4px;
	overflow: hidden;
}
.modal_header_checkbox {
	-webkit-appearance: none;
	appearance: none;
	background: #343333;
	border-radius: 1px;
	border-right: 1px solid $yellowgrey;
	border-width: 0;
	box-sizing: content-box;
	box-sizing: border-box;
	cursor: pointer;
	height: 22px;
	margin: 0px;
	outline: 0 none;
	position: relative;
	width: 22px;
	&:checked {
		background: rgb(53, 78, 104);
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/200px-White_check.svg.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 18px 18px;
	}
}
.modal_header_input {
	-webkit-appearance: none;
	background: #343333;
	border: none;
	color: white;
	display: block;
	height: 22px;
	outline: 0 none;
	padding: 8px 4px;
	text-overflow: ellipsis;
	width: calc((100% - 22px)/2);
}
.modal_header_input_first {
	border-right: 1px solid $yellowgrey;
}
.modal_bodytype_button {
	background-color: #343333;
	border: 1px solid $yellowgrey;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	font-size: 14px;
	outline: 0 none;
	padding: 5px;
	text-align: center;
	&:hover {
		background: $greenone;
		border: none;
	}
}
.modal_bodytype_button-selected {
	background: $greenone;
	border: none;
}
.modal_bodyform_container-open {
	display: flex;
	flex-direction: column;
}
.modal_bodyform_container-closed {
	display: none;
	overflow: hidden;
}
.modal_rawtype_select {
	-webkit-appearance: none;
	background: $greenfour;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: block;
	font-size: 14px;
	height: 25px;
	line-height: 15px;
	margin-top: 2px;
	overflow: hidden;
	padding: 0px 8px;
	text-align-last: center;
	width: 100%;
}
.modal_textarea {
	background-color: #343333;
	border: 1px solid $yellowgrey;
	border-radius: 5px;
	color: white;
	margin-top: 7px;
	padding: 5px;
	width: 100%;
	&:focus {
		outline: 0 none;
	}
}
.modal_textarea-error {
	border: 1px solid red;
}
.modal_pretty_print {
	color: $yellowgrey;
	cursor: pointer;
	font-size: 12px;
	margin-bottom: 5px;
	margin-top: 0px;
}
.historyDate-container {
	margin-top: 15px;
	overflow: scroll;
}
.historyDate-container::-webkit-scrollbar {
}
.historyDate h1 {
	font-weight: 700;
	margin-bottom: 5px;
	margin-top: 15px;
}
.history-container {
	border: 1px solid #282828;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-size: .9rem;
	height: 28px;
	margin: 1px 0px 1px 0px;
	overflow: hidden;
	width: 100%;
	&:hover {
		border: 1px solid #808080;
	}
	&:hover .history-method {
		background-color: #2F4858;
	}
	&:hover .history-delete-image {
		opacity: 1;
	}
}
.history-text-container {
	align-items: center;
	display: flex;
	flex-shrink: 100;
}
.history-method {
	font-weight: bold;
	height: 28px;
	line-height: 20px;
	padding: 4px 6px;
}
.history-url {
	margin-left: 4px;
}
.history-delete-container {
	display: flex;
	float: right;
	height: 26px;
	position: relative;
	right: 0px;
	top: -28px;
	z-index: 0;
}
.history-delete-fade {
	background: linear-gradient(to right, rgba(40, 40, 40, 0), rgba(40, 40, 40, 1));
	color: white;
	height: 26px;
	width: 30px;
}
.history-delete-button {
	// flex-grow: 1;
	background: rgba(40, 40, 40, 1);
	height: 100%;
	width: 20px;
}
.history-delete-image {
	height: 22px;
	margin-left: 2px;
	margin-top: 2px;
	opacity: 0;
	width: 16px;
}
