
// COMPOSER TAB
// * {
//   background-color: gray;
// }

.include-data-checkbox {
  background: #FFFFFF;
  /* neutral-300 */
  border: 1px solid lightgrey;
  box-sizing: border-box;
  border-radius: 2px;
  max-width: 26px;
  max-height: 26px;
}

.switch:focus {
  border: none;
  outline: none;
}

.add-header-or-cookie-button {
  color: $primary !important;
  border-color: $primary !important;
  min-width: 5px;
}

.prettify-select {
  // for application JSON body in REST requests
  float: right;
}

// grpc
.protocol-select-button {
  border: none !important;
  border-bottom: 1px solid $neutral-300 !important; // this is the dividing line underneath the protocol dropdown -Prince
}

.stream-title {
  font-size: 70%
}

// needed for add new request button
.is-hack-height {
  height: 86.75%
}


.add-request-button {
  border: 1px solid #3734A9 !important;
  &:hover {
    box-shadow: 1px 1px 1px 1px $neutral-300;
  }
}


.input {
  outline: none !important;
}

// HISTORY TAB
.history-date {
  font-size: 120%;
}

.history-method {
  width: 130px;

}

// CODE MIRROR
.cm-s-sidebar {
  background-color: $neutral-100;
  color: $neutral-400;
  border: 1px solid $neutral-300;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: .75em;
}
.cm-s-sidebar .CodeMirror-gutters {
  border: none;
  background-color: $neutral-100;
  color: $neutral-300;
}

.cm-s-sidebar .CodeMirror-linenumber {
  border: none;
  color: $neutral-300;
}

.component {
  & :global(.react-codemirror2) {
         overflow: auto; /* you can use hidden here as well */
    }
}

.cm-s-responsebody .CodeMirror-wrap {
  height: 1000px !important;
}

.cm-s-grpc {
  background-color: $neutral-100;
  color: $neutral-400;
  max-height: 100px !important;
  border: 1px solid $neutral-300;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: .75em;
}
.cm-s-grpc .CodeMirror-gutters {
  border: none;
  background-color: $neutral-100;
  color: $neutral-300;
}
.cm-s-grpc .CodeMirror-linenumber {
  border: none;
  color: $neutral-300;
}




.switch:focus {
  border: none;
  outline: none;
}

.add-request-button {
  border: 1px solid #3734A9 !important;
  position: absolute;
  &:hover {
    box-shadow: 1px 1px 1px 1px $neutral-300;
  }
}

.input {
  outline: none !important;
}

.history-date {
  font-size: 120%;
}

.history-method {
  width: 130px;
}

.stream-title {
  font-size: 70%
}

.is-button-footer {
  min-height: 2.3rem !important;
  height: 2.3rem !important;
  margin-top: auto !important;
}

.is-tall-not-5rem {
  height: calc( 100% - 5rem );
}

.tabs {
  margin-bottom: 0 !important;
}

.no-border-please {
  border: none !important;
}