
.sidebar_title {
    font-size:1.1rem;
    font-weight: bold;
  }
  
.sidebar_radio-label {
  font-size:.9rem;
  font-weight: bold;
}

.sidebar_modal-console {        
  width: 300px;
  height: 100vh;
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 0;
  top: 0;    
  background: #282828;
  padding: 15px 18px;
  color: #FCF7F8;
}


.contents{
  width: calc(100vw - 300px);
  height: 100vh;
  display: block;
  position: absolute;
  left: 320px;
  top: 0;
  background: white;
}

.modalContents{
  width: 100%;
  font-size: 1.2rem;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  list-style: none;
  padding: 0 0 15px 0;
}

.modal_select, .modal_url-input, .modal_submit {
  width: 100%;
  height: 30px;
  margin: 5px 0;
  display: block;
  padding: 8px;
}

.modal_protocol_container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px 0;
}
.modal_protocol_button {
  border-radius: 2px;
  background-color: teal;
  padding: 5px;
  width: 32%;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: green;
  }
}
.modal_protocol_button-selected {
  background: green;
}

.historyDate-container {
  overflow: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.historyDate-container::-webkit-scrollbar {
  overflow: none;
}

.historyDate h1 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 700;
}

.history-container {
  font-size: .9rem;
  border: 1px solid #282828;
  border-radius: 3px;
  margin : 1px 0px 1px 0px;
  color : white;
  display : flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  height : 28px;
  
  &:hover {
    border: 1px solid #808080;
  }
  &:hover .history-method {
    background-color: #2F4858;
  }
  &:hover .history-delete-image {
    opacity: 1;
  }
}

.history-text-container {
  display: flex;
  align-items: center;
  flex-shrink: 100;
  // overflow: hidden;
}

.history-method {
  padding: 4px 6px;
  height: 28px;
  line-height: 20px;
  font-weight: bold;
}

.history-url {
  margin-left: 4px;
}

.history-delete-container {
  display: flex;
  position: absolute;
  right : 19px;
  height: 26px;
  z-index: -1;
}
.history-delete-fade {
  color: white;
  height: 26px;
  width: 40px;
  background:linear-gradient(to right, rgba(40, 40, 40, 0), rgba(40, 40, 40, 1));
}
.history-delete-button {
  // flex-grow: 1;
  height : 100%;
  width : 20px;
  background: rgba(40, 40, 40, 1)
}
.history-delete-image {
  margin-top: 2px;
  margin-left: 2px;
  height: 22px;
  width: 16px;
  opacity: 0;
}