.tab_list {
	background-color: $medgray;
	height: 42px;
	position: relative;
	top: 0;
	width: 100%;
}
.tab_list-response {
	background-color: $medgray;
	height: 42px;
	padding-bottom: 30px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 10;
}
.tab-list-item {
	cursor: pointer;
	display: inline-block;
	font-size: .6rem;
	font-weight: 800;
	line-height: 25px;
	list-style: none;
	margin: 1px;
	margin-bottom: -1px;
	padding: 0.4rem 0.95rem;
}
.tab-list-active {
	background-color: white;
	border: solid #ccc;
	border-width: 1px 1px 0 1px;
}
.tab_content {
	background: $medgray;
	border-left: solid 1px $bordergray;
	border-right: solid 1px $bordergray;
	height: auto;
	padding: 5px 5px;
	position: relative;
	width: 100%;
}
.tab_content-response {
	background: $medgray;
	border-left: solid 1px $bordergray;
	border-right: solid 1px $bordergray;
	height: auto;
	padding: 5px 5px;
	position: relative;
	width: 100%;
}
