.tooltip-wrapper {
  position: relative;
  display: inline-block;

  .tooltip-text {
    display: none;
  }

  & .show-tooltip {
    &:hover {
      display: inline-block;
    }
  }

  & .hide-tooltip {
    display: none;
  }

  .tooltip-text {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}
