.primary-title {
	font-size: .9rem;
	font-weight: 600;
	line-height: normal;
  display: flex;
  align-items: center;
}
.secondary-title {
	font-size: .8rem;
	font-weight: 300;
	line-height: normal;
	vertical-align: middle;
}
.tertiary-title {
	font-size: .9rem;
	font-weight: 500;
	line-height: 30px;
	margin: 0;
	padding: 0;
	padding-right:10px;
	width:auto;
	overflow-X:scroll;
	overflow-y:none;
}
.tertiary-title::-webkit-scrollbar{
	width:1px;
	height:1px;
  background-color:#cccccc;
  }
  .tertiary-title::-webkit-scrollbar-thumb{
  background-color:rgb(189, 189, 189);
  border-radius:10px;
  }
  .tertiary-title::-webkit-scrollbar-thumb:hover{
  background-color:rgb(114, 111, 111);
  }
 .tertiary-title::-webkit-scrollbar-thumb:active{
  background-color:rgb(80, 77, 77);
  border:1px solid #333333;

  }
.title-offset_top {
	margin-top: -3px;
}
.highlighter {
	background: $darkgraygreen;
	color: white;
  display: flex;
	padding: 8px 15px;
	width: auto;
}
.title_offset {
	border-right: 1px solid $bordergray;
	padding-left: 15px;
}
.title_reverse-offset {
	border-radius: 8px 0 0 0;
	margin-left: -15px;
	margin-right: 20px;
}
.json-response{
  background: white;
  padding: 8px 12px;
	height:300px;
	overflow-y: auto;
}
