.client-background {
  background-color: #3734a9;
  display: inline-block;
  padding: 4px 8px;
  border: 0px;
  border-radius: 8px;
}

.server-background {
  background-color: #21d4a4;
  display: inline-block;
  padding: 4px 8px;
  border: 0px;
  border-radius: 8px;
}

.client {
  color: #737581;
  font-size: 0.7rem;
  text-align: right;
  margin-right: 0.25rem;
  font-style: italic;
}

.server {
  color: #737581;
  font-size: 0.7rem;
  margin-left: 0.25rem;
  font-style: italic;
}

.websocket_message_container {
  position: relative;
  overflow-y: scroll;
  max-height: 80vh;
  width: 100%;
  height: 100%;
  padding-right: 17px;
  box-sizing: content-box;
}

.overflow-parent-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.websocket_message-client {
  padding: 4px 8x;
  color: #fff;
  text-align: right;
}

.websocket_message-server {
  color: #fff;
  display: block;
  position: relative;
}

.showWebsocketFileWarning {
  color: red;
  align-self: flex-end;
}
