.websocket_container {
	background-color: white;
	border: 1px solid #ebeff2;
	border-radius: 0px 0px 5px 5px;
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.websocket_input {
	width: 100%;
}
.websocket_input-text {
	-webkit-appearance: none;
	background-color: rgb(247, 247, 247);
	border: 1px solid #ebeff2;
	border-radius: 12px;
	float: left;
	font-size: 14px;
	height: 25px;
	padding: 0px 105px 0px 8px;
	text-overflow: ellipsis;
	width: 100%;
	&:focus {
		outline: 0 none;
	}
}
.websocket_input-btn {
	-webkit-appearance: none;
	background-color: #46494c;
	border: 1px solid #ebeff2;
	border-radius: 12px;
	color: white;
	cursor: pointer;
	float: right;
	height: 25px;
	margin-right: 0px;
	margin-top: -25px;
	outline: 0 none;
	width: 100px;
	&:hover {
		background-color: #0089D0;
	}
	&:active {
		outline: 0 none;
	}
}
.websocket_message_container {
	border-top: 1px solid #ebeff2;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: auto;
	margin-top: 5px;
	max-height: 500px;
	overflow: scroll;
	width: 100%;
}
.websocket_message {
	align-items: center;
	border: 1px solid #ebeff2;
	border-radius: 12px;
	color: white;
	display: flex;
	flex-shrink: 0;
	height: 25px;
	margin-top: 3px;
	overflow: hidden;
	width: auto;
}
.websocket_message-server {
	align-self: flex-start;
	background-color: #9d9d9d;
}
.websocket_message-client {
	align-self: flex-end;
	background-color: rgb(0,137,208);
}
.websocket_message-data {
	border-right: 1px solid #b6b6b6;
	font-size: 14px;
	height: 25px;
	max-width: 300px;
	overflow: scroll;
	overflow-wrap: break-word;
	padding: 0px 8px;
	padding-top: 5px;
}
.websocket_message-time {
	font-size: 14px;
	padding: 0px 8px;
	text-align: center;
	width: 50px;
}
