.cards-titlebar {
  border: 1px solid $neutral-300;
  height: 24px;
}

.cards-dropdown {
  border: 1px solid $neutral-300;
  height: 24px;
}

.is-flex-basis-0 {
  flex-basis: 0;
}

.is-margin-top-auto {
  margin-top: 50px;
}

.minimize-card:hover {
  cursor: pointer;
}

.is-tall {
  height: 100% !important;
  min-height: 100%;
}

.is-graph-footer {
  background-color: $neutral-200;
  color: $primary-500;
  height: 3rem;
  margin-top: auto;
}

// CODEMIRROR STYLES

.cm-s-readonly {
  background-color: $neutral-100;
  color: $neutral-400;
  max-height: 150px !important;
  border: 1px solid $neutral-300;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: .75em;
}
.cm-s-readonly .CodeMirror-gutters {
  border: none;
  background-color: $neutral-100;
  color: $neutral-300;
}
.cm-s-readonly .CodeMirror-linenumber {
  border: none;
  color: $neutral-300;
}