.cards-titlebar {
  border: 1px solid $neutral-300;
  height: 24px;
}

.cards-dropdown {
  border: 1px solid $neutral-300;
  height: 24px;
}

.is-flex-basis-0 {
  flex-basis: 0;
}

.minimize-card:hover {
  cursor: pointer;
}

// CODEMIRROR STYLES

.cm-s-readonly {
  background-color: $neutral-100;
  color: $neutral-400;
  max-height: 150px !important;
  border: 1px solid $neutral-300;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: .75em;
}
.cm-s-readonly .CodeMirror-gutters {
  border: none;
  background-color: $neutral-100;
  color: $neutral-300;
}
.cm-s-readonly .CodeMirror-linenumber {
  border: none;
  color: $neutral-300;
}