$navy: #001e38;
$green: #15b78f;
$litegray: #F3F4FC;
$medgray: #E6EBEC;
$liteblack: #212121;
$litebluegray: #D4DCEC;

@import url('https://fonts.googleapis.com/css?family=Roboto:500');

*{
  box-sizing: border-box;
}

// html {
//   background-color: $navy;
// }

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: $liteblack;
}

// h1 {
//   color: $green;
//   font-weight: bold;
//   font-size: 3.5rem;

//   &:after {
//     content: '👋';
//     display: inline-block;
//     transform: rotate(-20deg);
//     animation: wave .75s infinite linear alternate;
//   }
// }

// @keyframes wave {
//   100% {
//     transform: rotate(20deg);
//   }
// }


.navbar_title {
  font-size:1.1rem;
  font-weight: bold;
}

.navbar_radio-label {
  font-size:.9rem;
  font-weight: bold;
}

#reqResContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  height: calc(100vh - 205px);
  overflow: scroll;
}

.navbar_modal-console {        
  width: 320px;
  height: 100vh;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: $litegray;
  padding: 15px 25px;
}

.navbar_resreq-console {
  width:100%;
  height: auto;
  display: block;
  position: relative;
  bottom: 0;
  border: lime solid 1px;
}

.btn {
  width:270px;
  height: 40px;
  margin: 15px auto;
  display: block;
  border-radius: 2px;
  color: #212121;
  font-weight: bold;
  border: none;
  background-color: $litebluegray;
  cursor: pointer;

  &:hover {
    border: solid 1px $litebluegray;
    background: transparent;
  }
}

.btn-sm {
  width:100%;
  height: 30px;
  margin: 0 auto;
  display: block;
  border-radius: 2px;
  color: #212121;
  font-weight: bold;
  border: none;
  background-color: $litebluegray;
  cursor: pointer;

  &:hover {
    border: solid 1px $litebluegray;
    background: transparent;
  }
}

.contents{
  width: calc(100vw - 320px);
  height: 100vh;
  display: block;
  position: absolute;
  left: 320px;
  top: 0;
  background: white;
}

.modalContents{
  width: 100%;
  font-size: 1.2rem;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  list-style: none;
  padding: 0 0 15px 0;
}

.modal_http-radios, .modal_select, .modal_url-input, .modal_submit {
  width: 100%;
  height: 30px;
  margin: 5px 0;
  display: block;
  padding: 8px;
}

.modal_http-radios input {
  
}


#line-chart{
  width: 100%;
  height:250px;
  border:$medgray 1px solid;
}


.header_entry-form {
  width: 100%;
}

.header_entry-form input {
  width: 100%;
}


.resreq_select-radio-label {
  font-size:.9rem;
  font-weight: bold;
}

.resreq_select-radio {    
  display: inline;
  width: 15px;
  height: 15px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 45%;
  top: 37%;
}

.response_event {
  margin : 15px 0;
  padding: 15px 0;
  display : flex;
  flex-direction: column;
  background: white;
}

.response_sse {
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: #F3F4FC;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.resreq_wrap {
  padding: 15px;
}

.resreq_res-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  border: 3px solid #2C5EF3;
}

.resreq-res-header {
  margin: 10px 0 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: #2C5EF3;
}

.resreq_title {
  font-size:1.1rem;
  font-weight: bold;
  color:#F3F4FC;
}

.reqResContainer-inner {
  position: relative;
  height: auto;

}


// .nested-grid-4 {
//   width: 100%;
//   height: 30px;
//   border: red solid 1px;
//   display: grid;
//   grid-template-columns: repeat(4, 25%); 
//   border:1px solid #ddd;
// }

.nested-grid-8 {
  width: 100%;
  height: 30px;
  border: red solid 1px;
  display: grid;
  grid-template-columns:2.5% 5% 2.5% 10% 15% 25% 20% 20%; 
  border:1px solid #ddd;
  div {
    padding: 0 15px;
    border-right:1px solid #ddd;
    position: relative;
    &:nth-child(-n+2) {
      padding: 0;
    }

    &:nth-child(3) {
      padding: 4px 10px;
    }
  }
}

.secondary-title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
}

.tertiary-title {
  font-size: .8rem;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  padding: 0;
}